.button {
    width: 100%;
    border: none;
    color: #666666;
    display: flex;
    flex-direction: row;
}

.button .button-icon{
    width: 25%;
    height: 100%;
}

.button .button-text{
    display: flex;
    justify-content: center;
    width: 75%;
}

.button .button-icon i {
    transform: scale(0.9, 0.9);
}

.button a{
    text-decoration: none;
    color: #666666;
}