.cv-search-page-content{
    padding: 80px 5%;
}

.cv-search-page .cv-search{
    margin-bottom: 2%;
}

.cv-search-page .cv-search-results-title{
    padding: 10px 0;
    border-bottom: 1px solid gray;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2%;
}

.cv-search-page .cv-search-results-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 10px;
}

.cv-search-page .cv-summary{
    width: 100%;
    height: 200px;
    padding: 10px;
    overflow: hidden;
}

.cv-search-page .cv-summary .cv-summary-information-domains,
.cv-search-page .cv-summary .cv-summary-information-skills{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}