:root{
  --light-green-color: #98D0B9;
  --dark-green-color: #008489;
  --middle-green-color: #007F54;
  --blue-color: #426EB4;
  --white-color: #fff;
  --gold-color: gold;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: #444;
}

html, #root {
  background-color: #F0F2F5;
  height: 100vh;
}

button{
  height: 30px;
  padding: 0 10px;
  border: none;
  border-radius: 5px !important;
}

.background-light-green{
  background: var(--light-green-color);
}

.required-label::after{
  content: "*";
  color: red;
}

.error-message{
  color: red !important;
}